body {
  background-color: #626398;
  
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: square; 
}

.button-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  text-decoration: none; /* Removes the underline */
  border-radius: 5px;
  font-family: sans-serif;
  text-align: center;
}

.button-link:hover {
  background-color: #0056b3; /* Darkens on hover */
}

p {
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: #2b2c2d;
  line-height: 1.5;
  width: 80%;
  
}

img {
  border: 15px solid #1e60c2;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;

}
.socials{
  display: flex;
  flex-direction: row; /* Default: lays children out horizontally */
  flex-wrap: nowrap;
}

h1 {
    
  font-family: Arial, sans-serif;
  font-size: 60px;
  color: #201a1a;
  line-height: 1.5;
  width: 80%;

}

h3 {
    
  font-family: Arial, sans-serif;
  font-size: 30px;
  color: #201a1a;
  line-height: 1.5;
  width: 80%;

}
.navagation {
    padding: 20px;
    background-color: #4475b5;


    text-align: center;
}

.collumn {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #3c8396;
    width: 70%;
    min-height: 500px;

}
.bottom {
    background-color: #020d2f;
    padding: 20px;
    height:max-content
}